bootstrap4==0.1.0
selenium==3.141.0
pandas==1.0.5
numpy==1.22.0
Django==3.1.14
django-ckeditor==5.9.0
django-cleanup==5.0.0
django-crispy-forms==1.9.1
django-js-asset==1.2.2
django-chartjs==2.1.0
django-mysql==3.7.1
django-bootstrap==0.2.4
django-widget-tweaks==1.4.8
django-filter==2.4.0
dj-chartjs==1.0.6
mysql-client==0.0.1
mysql-connector==2.2.9
mysqlclient==1.4.6
Pillow==10.2.0
pylint==2.5.3
pylint-django==2.0.15
pylint-plugin-utils==0.6
virtualenv==20.0.25
